
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.background{
  background: url(https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  overflow:hidden;
  padding-bottom:400px;
}
.header h1{
font-size:100px;
padding-top: 130px;
}

.header h3{
 font-size:28px;
  padding-top:50px;
}



.header{
  position:relative;
	text-align:center;
	color:white; 
  font-family: 'Montserrat', sans-serif;
}
